<div class="row">
  <div class="col-md-12">
    <h2>Categories
      <a href="/categories/add" class="btn btn-success pull-right">Add Category</a>
    </h2>
    <hr />
    <div class="table-responsive">
      <table class="table table-responsive table-dark">
        <tr>
          <th>Category ID</th>
          <th>Category Name</th>
          <th>Delete</th>
        </tr>
        {{#each items}}
          <tr>
            <td><a href="/items?category={{id}}">{{id}}</a></td>
            <td><a href="/items?category={{id}}">{{category}}</a></td>
            <td><a
                class="btn btn-danger"
                href="/categories/delete/{{id}}"
              >Remove</a></td>
          </tr>
        {{else}}
          <div class="col-md-12 text-center">
            <strong>{{message}}</strong>
          </div>
        {{/each}}
      </table>
    </div>
  </div>
</div>